.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container input,
.container textarea,
.container select {
  padding: 20px;
  background-color: var(--textSoft);
  border: none;
  border-radius: 5px;
  color: gray;
  font-size: 16px;
}

.container input:focus {
  color: gray;
}

.container button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
  font-weight: bold;
}

.container .close {
  background: #e7e7e7;
  color: gray;
}

.container .close:hover {
  background: #ff5733;
  color: white;
}

.container .add {
  margin-top: 30px;
}

.container .add:hover {
  background: #6495ed;
}

.header .back {
  background: var(--btn);
  float: right;
  padding: 12px;
  font-size: 12px;
}

.header .back:hover {
  background: var(--textSoft);
  color: #000;
}

.header {
  margin-bottom: 30px;
}

.maps {
  width: 50%;
  padding: 10px 20px;
  background: var(--btn);
  border-radius: 10px;
}

.maps:hover {
  cursor: pointer;
  background: var(--bg);
}
