.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.row {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.row h1 {
  font-size: 24px;
  font-weight: 300;
}

.colHeader a {
  background: var(--btn);
  float: right;

  padding: 12px;
  border-radius: 10px;
}

.col {
  flex: 1;
}

.colHeader {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.col img {
  object-fit: cover;
  border-radius: 50%;
}

.line {
  margin: 100px;
  color: var(--bgSoft);
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
