.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-height: 70vh;
}

.containerHead {
  display: flex;

  justify-content: space-between;
  width: 100%;
}

.row {
  display: flex;
  gap: 100px;
}

.row h1 {
  font-size: 24px;
  font-weight: 300;
}

.containerHead a {
  background: var(--btn);
  float: right;
  margin-right: 20px;
  padding: 12px;
  border-radius: 10px;
}

.col {
  flex: 1;
}

.col img {
  object-fit: cover;
  border-radius: 50%;
}

.line {
  margin: 100px;
  color: var(--bgSoft);
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
