.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container h1 {
  margin-bottom: 10px;
}

.btn {
  margin-top: 30px;
  width: auto;
}

.btn a {
  font-size: 30px;
  background: var(--text);
  color: var(--bg);
  padding: 8px;
  border-radius: 10px;
}

.btn a:hover {
  background: gray;
  color: white;
}
