.post {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.postButton {
  padding: 5px 10px;
  background-color: rgba(220, 20, 60, 0.593);
  color: var(--textColor);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.container {
  text-align: center;
  padding-bottom: 20px;
}

.tableContainer {
  margin-top: 20px;
  width: 100%;
  align-items: center;
  text-align: center;
}

.tableContainer tr {
  height: 55px;
}

.tableContainer tr:hover {
  background: #d0d2d6;
  color: #000;
}

.tableContainer td {
  padding: 10px;
}

.tableContainer a {
  padding: 10px 20px;
  display: block;
}

.tableContainer a:hover {
  background: #d0d2d6;
  color: #000;
}

.even {
  background-color: #233b5b;
}

.tableContainer .action:hover {
  background-color: var(--bg);
  color: white;
}
